
   #bcimg{
       background-color: black;
   }
     #formcss{
      
        border: 2px solid rgb(57, 146, 197);
        border-radius: 15px; }
       
       
    .card-header{
        text-align: center;
        }

   #spn{
       color: cornflowerblue;
   }

